* {

  box-sizing: border-box;
  margin: 0px;
  background-color: #ffbdbd;
}

h1 {
  font-family: 'Abril Fatface', cursive;'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 60px;
  color: #06051d;
  width: 100%;
  padding: 20px;
  padding-top: 140px;
  font-weight:normal;
}

h2 {
  font-family: font-family: 'Abril Fatface', cursive; 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 24px;
  color: #06051d;
  width: 100%;
  padding: 20px;
  padding-top: 20px;
  font-weight:bold;
}


p {
  font-family: font-family: 'Abril Fatface', cursive; 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 14px;
  color: #06051d;
  width: 100%;
  padding: 5px;
  padding-bottom: 20px;
  font-weight:normal;
}

img {
  height: 50px;
  width: 50px;
  padding: 0px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin: 10px;
    text-align: center;
}

div.scrollmenu p {
    display: inline-block;
    text-align: center;
    padding: 14px;
    width: 50px;
    text-decoration: none;
}

div.scrollmenu ul {
    display: inline-block;
    padding: 0px;
}

div.scrollmenu li {
    text-align: center;
    width: 50px;
    text-decoration: none;
    font-family: font-family: 'Abril Fatface', cursive;
    font-size: 10px;
    color: #06051d;
    font-weight:normal;
}

div.scrollmenu img {
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width:450px) {
   h1 {
      font-size : 50px;
      padding-top : 130px;
      }

  h2 {
      font-size : 20px;
      }

  p {
       font-size : 12px;
    }
}
