body {
  background-color: #ffbdbd;
}

input#search {
  border-color: black;
  border-radius: 50px;
  text-align: center;
  width: 30%;
  background-color: #ffbdbd;
  margin: 0 auto;
  display: block;
  border-width: 1px;
  font-family: times new roman;
  height: 20px;
}

form {
  padding-top: 10px;
}

h1 {
  font-family: 'Abril Fatface', cursive;'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 55px;
  color: #06051d;
  font-weight:normal;
  padding-top: 50px;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #06051d;
  width: 100%;
  padding: 20px;
  padding-top: 20px;
  font-weight:bold;
}


p {
  text-align: center;
  font-size: 14px;
  color: #06051d;
  width: 100%;
  padding: 5px;
  padding-bottom: 20px;
  font-weight:normal;
}

img {
  width: 50px;
  height: 50px;
}

img#searchIcon {
  width: 15px;
  height: 15px;
}

img#switch {
  width: 15px;
  height: 15px;
}

img.tempIcon {
  width: 12px;
  height: 12px;
}

div#searchButton {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

button {
  background-color: #ffbdbd;
  display: block;
  margin: 0 auto;
  border: none;
  shadow: none;
}

#hourly-forecast {
    overflow: auto;
    white-space: nowrap;
    margin: 10px;
    text-align: center;
}

#hourly-forecast p {
    display: inline-block;
    text-align: center;
    padding: 14px;
    width: 50px;
    text-decoration: none;
}

#hourly-forecast ul {
    display: inline-block;
    padding: 0px;
}

#hourly-forecast li {
    text-align: center;
    width: 50px;
    text-decoration: none;
    font-size: 10px;
    color: #06051d;
    font-weight:normal;
}

#hourly-forecast img {
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 0px;
}

#daily-forecast {
    overflow: auto;
    white-space: nowrap;
    margin: 10px;
    text-align: center;
}

#daily-forecast p {
    display: inline-block;
    text-align: center;
    padding: 14px;
    width: 50px;
    text-decoration: none;
}

#daily-forecast ul {
    display: inline-block;
    padding: 0px;
}

#daily-forecast li {
    text-align: center;
    width: 50px;
    text-decoration: none;
    font-size: 10px;
    color: #06051d;
    font-weight:normal;
}

#daily-forecast img {
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width:450px) {
h1 {
  font-size : 30px;
  padding-top : 60px;
  }

h2 {
  font-size : 20px;
    }

p {
  font-size : 12px;
  }

#summary {
  width: 80%;
  }

input#search {
  width: 55%;
}
